@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.header {
    display: flex;
    background-color: rgb(2, 50, 32);
    height: 120px;

}

.header #logo {
    width: 70px;
    height: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    align-items: center;
    width: 535px;
    margin-bottom: 25px;
}

.main {
    display: flex;
    justify-content: space-around;
    width: 450px;
}

.main a{
    color: #b6adad;
    text-decoration: none;
    transition: 0.3s;
}

#MEN {
    color: #FFF;
}

#gift {
    color: rgb(2, 150, 2)
}

#gift:hover {
    color: rgb(1, 168, 1);
}

.main a:hover {
    color: #fff;
}

.search-bar {
    width: 118+0px;
    display: flex;
    align-items: center;
    text-align: center;
}

.search-bar2 {
    width: 1050px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 110px;
    background-color: #FFF;
    margin-bottom: 35px;
}

.search {
    height: 45px;
    width: 100%;
    font-size: 16px;
    color: #636363;
    border: none;
}

.search:active {
    border: none;
}

.search-bar img{
    margin-right: 10px;
    background-color: #ffffff;
    margin-left: 10px;
    width: 17px;
    margin-top: 10px;
}

.EN a{
    color: #FFF;
    text-decoration: none;
    margin-right: 25px;
    margin-bottom: 20px;
}

.EN {
    color: #FFF;
    margin-left: 30px;
    display: flex;
    margin-bottom: 20px;
}

.EN #map {
    font-size: 25px;
}

