@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.header {
    display: flex;
    background-color: rgb(2, 50, 32);
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

}

.header #logo {
    width: 70px;
    height: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    align-items: center;
    width: 535px;
 
}

.main {
    display: flex;
    justify-content: space-around;
    width: 450px;
}

.main a{
    color: #b6adad;
    text-decoration: none;
    transition: 0.3s;
}

#MEN {
    color: #FFF;
}

#gift {
    color: rgb(2, 150, 2)
}

#gift:hover {
    color: rgb(1, 168, 1);
}

.main a:hover {
    color: #fff;
}

.search-bar {
    display: flex;
    align-items: center;
    text-align: center;
   
}

.search-bar2 {
    width: 1050px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 110px;
    background-color: #FFF;
    
}

.search {
    height: 45px;
    width: 100%;
    font-size: 16px;
    color: #636363;
    border: none;
}

.search:active {
    border: none;
}

.search-bar img{
    margin-right: 10px;
    background-color: #ffffff;
    margin-left: 10px;
    width: 17px;
    margin-top: 10px;
}

.EN a{
    color: #FFF;
    text-decoration: none;
    margin-right: 25px;
    margin-bottom: 20px;
}

.EN {
    color: #FFF;
    margin-left: 30px;
    display: flex;
   margin-top: 10px;
}

.EN #map {
    font-size: 25px;
}

.mini-navbar {
    left: 380px;
    width: 100%;
    z-index: 2;
    background-color: rgb(2, 50, 32);
    height: 50px;

}

.mini-navbar2 {
    display: flex; 
    justify-content: space-around;
    margin-left: 350px;
    margin-right: 350px;
  
}
.acc a {
    color: #b6adad;
    text-decoration: none;
}
#arrow {
    color: #b6adad;
    font-size: 28px;
    cursor: pointer;
}
.acc {
    align-items: center;
    display: flex;
    
   
}
.acc1 {
    align-items: center;
    display: flex;
    margin-left: 20px;
}
.acc1 a {
    color: #b6adad;
    text-decoration: none;
}
.man-back {
    background-image: url(./images/1A-seasonal-offer-desktop.avif);
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
}

.man-back {
   display: flex;
   margin: 0 auto;
   align-items: center;
}
.ses-offer {
    margin-left: 50px;
    margin-top: 450px;
}
.ses-offer p {
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
}
.ses-offer button {
    padding: 18px 25px 18px 25px;
    border: solid rgb(117, 116, 116);
    color: #636363;
    
}
#sig-id {
    font-size: 40px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: rgb(0, 20, 0);
}
.sig-images {
    display: flex;
    justify-content: space-around;
}
.sig-images2 {
    display: flex;
    flex-direction: column;
}
.sig-images2  img{
    width: 400px;


}
.sig-images2 a {
    text-decoration: underline;
    font-size: 20px;
    color: rgb(0, 20, 0);
    margin-top: 5px;
}
.sig-images2 a:hover {
    text-decoration: none;
}

.iconic {
    padding-top: 60px;
    display: flex;
    align-items: center;
}

.iconic img {
    width: 1100px;
    height: 850px;
}

.iconic-1 {
    margin-left: 140px;
}

.iconic-1 h1 {
    color: rgb(2, 50, 32);
    font-size: 37px;
    width: 450px;
    text-transform: uppercase;
}

.iconic-1 p {
    color: rgb(2, 50, 32);
    width: 500px;
    font-size: 15px;
}

.iconic-1 button {
    margin-top: 25px;
    padding: 12px;
    background-color: rgb(2, 50, 32);
    color: #fff;
}

.iconic-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
    position: relative;
}

.iconic-2 img {
    width: 910px;
    height: 910px;

}

.iconic-text {
    position: absolute;
    left: 70px;
    bottom: 70px;
    color: #fff;
    font-size: 22px;  
}

.first-iconic button {
    padding: 14px;
    background-color: #fff;
    border: 1px solid black;
    margin-top: 10px;
}

.iconic-text2 {
    position: absolute;
    left: 1070px;
    bottom: 70px;
    color: #fff;
    font-size: 22px;  
}

.second-iconic button {
    padding: 14px;
    background-color: #fff;
    border: 1px solid black;
    margin-top: 10px;
}

.lacoste {
    margin-top: 60px;
    background-color: #171616;
}

.lacoste-text {
    display: flex;
    align-items: center;
    margin-left: 70px;

}

.lacoste-text h1 {
    color: #fff;
    margin-top: 40px;
    font-size: 30px;
}

.lacoste-text img {
    width: 70px;
    margin-top: 40px;
}

.lacoste-img {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.lacoste-img img {
    width: 1000px;
    height: 750px;
}

.lacoste-text2 {
    margin-top: 480px;
    margin-left: 80px;
}

.lacoste-text2 h4 {
    color: #fff;
}

.lacoste-text2 h1 {
    color: #fff;
    font-size: 27px;
    width: 350px;
}

.lacoste-text2 p {
    color: #fff;
    width: 520px;
}

.lacoste-text2 button {
    padding: 14px;
    background-color: #fff;
    border: 1px solid black;
    margin-top: 10px;
}
.top-footer {
    width:100%;
    /* height: 600px; */
    background-color: rgb(2, 50, 32);
    display: flex;

}
.left-footer {
   width: 40%;
   border: solid 0.5px rgb(113, 113, 113);
}
.le-club {
    height: 160px;
    display: flex;
    align-items: center;
    
} 
.le-club h1 {
    color: white;
    font-size: 15px;
    margin-left: 35px;
}
.le-club img {
    margin-left: 110px;
}
.email {
    /* width: 35%; */
    align-items: center;
    display: flex;
}
.email button {
    width: 40%;
    height: 100px;
    background-color: rgb(2, 50, 32);
    color: white;
    font-size: 15px;
    border: solid 0.5px rgb(113, 113, 113);
}
.email input {
    width: 60%;
    height: 100px;
    background-color: rgb(2, 50, 32);
    border: solid 0.5px rgb(113, 113, 113);
    padding-left: 30px;
    font-size: 16px;
}
.join-btn {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
}
.join-btn img {
    width: 23px;
    margin-left: 14px;
}
.right-footer {
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   padding-top: 80px;
}
.right-footer div {
    display:flex;
    flex-direction: column;
    width: 300px;
    padding-left: 8%;
}
.right-footer div h1 {
    color: #fff;
    font-size: 18px;

}
.right-footer div a {
    color: #fff;
    text-decoration: none;
    margin-top: 8px;
    font-weight: 300;
    font-size: 15px;
}
.right-footer div p {
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    font-weight: 300;
    font-size: 12px;
    width: 310px;
}

.socials i{
color:white;
padding-top: 20px;
font-size: 20px;

}
.socials h2 {
    font-size: 15px;
}
.socials {
    display: flex;
    flex-direction: column;
}
.lac-footer {
    background-color: rgb(2, 50, 32);
    align-items: center;
    display: flex;
    justify-content: center;
    width:auto;
    padding-top: 80px;
    padding-bottom: 40px;
    border: solid 0.5px rgb(113, 113, 113);
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    height : 90px;
    align-items: center;
}
.bottom-footer div {
    display: flex;
    justify-content: space-around;
    width: 55%;
}
.bottom-footer a {
   text-decoration: none;
   color: rgb(34, 33, 33);
   font-size: 15px;
}
.bottom-footer a:hover {
    text-decoration: underline;

}






























































































@media only screen and (max-width: 767px) {
  
    .mini-navbar {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  
    .mini-navbar {
        display: none;
    }
}

@media only screen and (min-width:1024px) and (max-width:1441px) {
    .mini-navbar {
        display: none;
    }

}

